

.content {
  max-width: 990px;
  position: relative;
  margin-left: 141px;
}


 .banner, article h1,  .sidebar-article h2, .popular-posts h1, .title{
  font-family: "Oswald" open-serif;
}


header {
  max-width:990px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right:169px;
  position: relative;
  margin-left: 141px;

}

.right-nav {
  position: absolute;
  top: 22px;
  right: 169px;
}

.banner {
  display: inline-block;
  background-color: #1C77B7;
  width: 1300px;
  height: 523px;
}



.title {
  position: absolute;
  font-size: 86px;
  letter-spacing: 0.1em;
  left: 197px;
  top: 225px;
  display:inline-block;
}

.subtitle {
  font-size: 12px;
  position: absolute;
  top: 316px;
  right: 502px;
  letter-spacing: 0px;

}


article {
  float: left;
  margin-top: 70px;
  margin-left: 25px;

}

article h1 {
  font-size: 58px;
  color: #093450;
  letter-spacing: 2px;
  line-spacing: 0.8px;
  line-height: 70px;
  margin-top: -10px;
  padding-bottom: 10px;
}

.author-info {
  padding-bottom: 30px;
}
.article-body {
  max-width: 611px;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 27px;
}

.article-body p {
  padding-bottom: 25px;
}

.author {
  float: right;
  margin-top: -103px;
  max-width: 276px;
}
 .author p {
   display: inline-block;
   margin-left: -25px;

 }

.vert-line {
  height: 55px;
  border-left: 2px solid #D3D3D3;
  position: relative;
  margin-top: -15px;
  margin-bottom: 25px;

}

.radical {
  position: absolute;
  color: #146EAE;
  top: 22px;
  left: 19px;
  font-family: "Arial";
  font-size: 26px;
}

.article-body2 {
  max-width: 611px;
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 27px;
  padding-bottom: 25px;
}

 .author .name {
   font-family: "Oswald";
 }

.advert {
  float: right;
  margin-left: 10px;
  margin-top: -305px;
  text-align: right;
}

.sidebar-article {
  position: relative;
  text-align: right;
}


hr {
  width: 1300px;
  height: 1px;
  margin: 0;
  padding: 0;
}

.popular-posts {
  position: relative;
  display:inline-block;
  max-width: 1300px;
  height: 476px;
  margin: 0;
  padding-bottom: 0px;
}

.popular-posts h1 {
  padding-top:43px;
  padding-bottom: 47px;
  display: inline-block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

.pppics  li{
  display: inline-block;
}

footer {
  background-color: #093450;
  display: inline-block;
  width: 1300px;
  padding-top: 0px;
}

.bottom-nav p, li{
  text-align: right;
  color: #A3B3BE;
}
